.Tile {
  width: 144px;
  height: 144px;
  display: inline-block;
  position: relative;
}

.Tile-content.closed {
  position: relative;
  background-color: #333;
  width: 128px;
  height: 128px;
  margin: 16px;
  display: none;
  border-radius: 100%;
  box-shadow: 0 0 12px 0 #111 inset, 0 0 12px 0 #111;
  vertical-align: bottom;
  text-align: center;
}

.Tile.closed .Tile-content.closed,
.Tile.closing .Tile-content.closed {
  display: block;
}

.Tile-label {
  position: absolute;
  font-size: 4em;
  opacity: 0.7;
  width: 100%;
  top: 10px;
  left: 0;
  height: 100%;
  vertical-align: bottom;
  text-align: center;
}

.Tile.closed .Tile-content.closed:hover {
  background-color: #666;
  box-shadow: 0 0 3px 0 black inset, 0 0 3px 0 black;
}

.Tile.opening .Tile-content.closed,
.Tile.open .Tile-content.closed {
  display: block;
  background-color: black;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform 400ms;
  transform: scale3d(20, 20, 1);
  z-index: 101;
  filter: brightness(50%) blur(2px);
}

.Tile.opening .Tile-content.closed .Tile-label,
.Tile.open .Tile-content.closed .Tile-label {
  transition: opacity 200ms;
  opacity: 0;
}

.Tile.closing .Tile-content.closed {
  display: block;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform 400ms, filter 300ms;
  transform: scale3d(1, 1, 1);
  z-index: 101;
  filter: brightness(100%);
}

.Tile .Tile-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Tile-content.open {
  display: none;
  opacity: 0;
  z-index: 101;
  filter: brightness(0%);

  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  bottom: 0;
}

.Tile-title {
  position: fixed;
  left: -120px;
  bottom: 190px;
  transform: rotate(-90deg);
}

.input-group-text {
  width: 36px;
  font-family: 'menlo', monospace;
}

.Tile.opening .Tile-content.open {
  display: block;
}
.Tile.open .Tile-content.open {
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 50ms;
  display: block;
  opacity: 1;
  filter: brightness(100%);
  z-index: 101;
}

.Tile-body {
  display: relative;
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  min-width: 500px;
  opacity: 0.7;
}

.Tile-header {
  position: absolute;
  z-index: 101;
  top: 0;
  right: 15px;
  font-size: 5em;
  opacity: 0.1;
}
