.Tile {
  background-color: #333;
  width: 128px;
  height: 128px;
  display: inline-block;
  border: 1px solid #111;
  border-radius: 128px;
  margin: 16px;
}

.Tile:hover {
  background-color: #666;
  border: 1px solid #333;
}
