.Tile {
  width: 144px;
  height: 144px;
  display: inline-block;
  position: relative;
}

.Tile-content.closed {
  position: relative;
  background-color: #333;
  width: 128px;
  height: 128px;
  margin: 16px;
  display: none;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 12px 0 #111 inset, 0 0 12px 0 #111;
  vertical-align: bottom;
  text-align: center;
}

.Tile.closed .Tile-content.closed,
.Tile.closing .Tile-content.closed {
  display: block;
}

.Tile-label {
  position: absolute;
  font-size: 4em;
  opacity: 0.7;
  width: 100%;
  top: 10px;
  left: 0;
  height: 100%;
  vertical-align: bottom;
  text-align: center;
}

.Tile.closed .Tile-content.closed:hover {
  background-color: #666;
  box-shadow: 0 0 3px 0 black inset, 0 0 3px 0 black;
}

.Tile.opening .Tile-content.closed,
.Tile.open .Tile-content.closed {
  display: block;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform 400ms, filter 300ms;
  transform: scale3d(20, 20, 1);
  z-index: 100;
  filter: brightness(0%);
}

.Tile.closing .Tile-content.closed {
  display: block;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform 400ms, filter 300ms;
  transform: scale3d(1, 1, 1) rotate3d(1, 1, 1, 0deg);
  z-index: 100;
  filter: brightness(100%);
}

.Tile .Tile-content {
  display: none;
}

.Tile-content.open {
  opacity: 0;
}

.Tile.open .Tile-content.open {
  transition: opacity 100ms;
  position: fixed;
  display: block;
  top: 36px;
  left: 20px;
  right: 0;
  bottom: 20px;
  opacity: 1;
  background-color: black;
  z-index: 100;
}

.Tile-header {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 15px;
  font-size: 5em;
}
